.container.mt-4
  .row
    .publication-main-column
      - @publications.each do |pub|
      - @user = pub.user
        .publication-content-container
          .publication-author-credentials
            = link_to user_path(@user.id), class: "publication-avatar-container" do
              - if @user.avatar.attached?
                %img.publication-avatar.avatar{ src: url_for(@user.avatar) }
                .edit-publication-spinner.spinner
                  = svg "spinner" 
              - else
                = svg "user_icon_glyph"
            .publication-info
              %div 
                = @user.login
              %div 
                = pub.created_at
          - if !pub.photos.empty?
            .publication-preview{ pub_id: pub.id, style: "background: url('#{ url_for(pub.photos[0]) }') center no-repeat; background-size: cover;"}
          .publication-footer{ pub_id: pub.id }
            .publication-actions-bar
              = link_to "/publications/#{pub.id}/like", class: "publication-action-button", id: "like_button", method: :post, remote: true do
                - if pub.likes.find { |like| like.user_id == current_user.id }
                  = svg "heart_icon_filled"
                - else
                  = svg "heart_icon"
            - if !pub.description.nil? && !pub.description.empty?
              .publication-description
                %b 
                  = @user.login + ": "
                = pub.description 

= render partial: "partial/show_publication"
- if user_signed_in?
  = render partial: "partial/add_publication"
