.container.mt-4
  .row
    .publication-main-column
      - @publications.each do |pub|
      - @user = pub.user
        .publication-content-container
          .publication-author-credentials
            = link_to user_path(@user.id), class: "publication-avatar-container" do
              - if @user.avatar.attached?
                = image_tag @user.avatar, class: "publication-avatar"
              - else
                = svg "user_icon_glyph"
            .publication-info
              %div 
                = @user.login
              %div 
                = pub.created_at
          - if !pub.photos.empty?
            = link_to publication_path(pub.id), remote: true do 
              .publication-preview{style: "background: url('#{ url_for(pub.photos[0]) }') center no-repeat; background-size: cover;"}
          .publication-footer
            .publication-actions-bar
              .publication-action-button{id: "like-pub-button-#{pub.id}" }
                - like = pub.likes.find { |like| like.user_id == current_user.id }
                = render partial: 'partial/like_button', locals: { like: like, publication: pub }
              = link_to publication_path(pub.id), class: "publication-action-button", method: :get, remote: true do 
                = svg "message_icon"
            - if !pub.description.nil? && !pub.description.empty?
              .publication-description
                %b 
                  = @user.login + ": "
                = pub.description
