.edit-container
  .edit-sidebar
  .col
    .edit-credentials
      .edit-title-row
        .edit-profile-picture
          = svg "user_icon"
        %p.text-start
          = @user.login 
      = form_with model: @user do |form|
        .row.mb-1
          = form.label      :login,    class: "edit-label"
          = form.text_field :login,    class: "edit-input", placeholder: "Name"
        %p.edit-input-description
          To make it easier for people to find your account, use the name by which they know you: your first and last name, nickname or company name

        .row.mb-4
          = form.label      :name,     class: "edit-label"
          = form.text_field :name,     class: "edit-input"
      
        .row.mb-4
          = form.label      :web_page, class: "edit-label"
          = form.url_field  :web_page, class: "edit-input", placeholder: "Web page"

        .row.mb-1
          = form.label      :about_me,  class: "edit-label"
          = form.text_area  :about_me,  class: "edit-input", style: "resize: vertical"
        %p.edit-input-description
          Personal information Provide personal information even if the account will be used for a company, pet or other purpose. This information will not appear on your public profile.

        .row.mb-4
          = form.label       :email,   class: "edit-label"
          = form.email_field :email,   class: "edit-input"

        .row.mb-4
          = form.label            :phone,  class: "edit-label"
          = form.telephone_field  :phone,  class: "edit-input", placeholder: "Phone number"

        .edit-gender-row
          = form.label        :gender_male, "Male",   class: "me-2"
          = form.radio_button :gender, "male",        class: "me-5"
          = form.label        :gender_male, "Female", class: "me-2"
          = form.radio_button :gender, "female",      class: "me-2"

        .row
          = form.submit "Send", class: "edit-submit-button"
