.container
  .user-credentials-container
    .col
      %label.user-avatar-container{for: :user_avatar}
        - if @user.avatar.attached?
          %img.show-avatar{src: url_for(@user.avatar)}
          .show-avatar-spinner
            = svg "spinner"
        - else
          = svg "user_icon_glyph"
      - if user_signed_in? && (@user.id == current_user.id)
        %input.avatar-file-field{type: "file", id: "user_avatar"}
    .col
      .user-credentials-row
        .user-login
          = @user.login
        - if user_signed_in? && @user.id == current_user.id
          =link_to  edit_user_path, class: "user-edit-button" do
            Edit profile
      .user-credentials-row
        %p.user-metrics-counter
          = @user.publications.count
          publications
        %p.user-metrics-counter
          0 subscribers
        %p.user-metrics-counter
          0 following
      %p.user-name
        = @user.name
  .user-bottom-organizer
    .user-publications-tab
      Publications
    .col.text-center
      Saved
    .col.text-center
      Marks
  .user-publications-container
    - @user.publications.each do |pub|
      .user-publication-preview{style: "background: url('#{url_for(pub.photos[0])}') center no-repeat; background-size: cover;"}


- if user_signed_in?
  = render partial: "partial/add_publication"




        
