.container
  .user-credentials-container
    .col
      = react_component("AvatarInput", props: @avatar_props, prerender: true)
    .col
      .user-credentials-row
        .user-login
          = @user.login
        - if user_signed_in? && @user.id == current_user.id
          =link_to  edit_user_path, class: "user-edit-button" do
            Edit profile
      .user-credentials-row{ id: 'userMetrics' }
        = render partial: 'partial/user_metrics', locals: { user: @user }
      %p.user-name
        = @user.name
      .user-friendship
        - if @user.id != current_user.id
          = render partial: 'partial/user_friendship',locals: { user: @user }
      - if @user.id != current_user.id
        = link_to new_message_path({ recipient_id: @user.id }), remote: true do
          .btn.btn-primary
            Send message
  .user-publications-container
    - @publications.each do |pub|
      = link_to "/publications/#{@user.id}/get_user_publication/#{pub.id}", remote: true do
        .user-publication-preview{style: "background: url('#{url_for(pub.photos[0]) }') center no-repeat; background-size: cover;"}
#place-for-modal

- if user_signed_in?
  = render partial: "partial/add_publication"
  
  - if @user.id == current_user.id 
    = render partial: "partial/crop"



        
