.container
  .user-credentials-container
    .col
      %label.user-avatar-container{for: :user_avatar}
        - if @user.avatar.attached?
          %img.show-avatar{src: url_for(@user.avatar)}
          .show-avatar-spinner
            = svg "spinner"
        - else
          = svg "user_icon"
      %input.avatar-file-field{type: "file", id: "user_avatar", user_id: @user.id}
    .col
      .user-credentials-row
        .user-login
          = @user.login
        - if user_signed_in? && @user.id == current_user.id
          =link_to  edit_user_path, class: "user-edit-button" do
            Edit profile
      .user-credentials-row
        %p.user-metrics-counter
          0 publlications
        %p.user-metrics-counter
          0 subscribers
        %p.user-metrics-counter
          0 following
      %p.user-name
        = @user.name
  .user-bottom-organizer
    %p.col.text-center
      Publications
    %p.col.text-center
      Saved
    %p.col.text-center
      Marks
= render partial: "partial/crop"



        
