.chat-message-row
  = link_to user_path(message.sender), class: "chat-avatar-container" do
    - if message.sender.avatar.attached?
      = image_tag url_for(message.sender.avatar), class: "chat-avatar"
    - else
      = svg "user_icon_glyph"
  .w-75
    .chat-message-sender-login
      = message.sender.login
    .chat-message-text
      = message.text

