.navbar-container
  .navbar-logo
    JDIgram
  .col.d-flex.align-items-center
    - if user_signed_in?
      %input.navbar-user-search
        .navbar-search-results
    .navbar-search-clear-button
  .navbar-buttons-row
    - if user_signed_in?
      .navbar-navigation-buttons
        = link_to publications_path, class: "navbar-button me-1" do
          = svg 'home_icon'
        .navbar-button.me-1
          = link_to chats_path do 
            = svg "message_icon"
        .navbar-button.me-1
          = svg "heart_icon"
        .navbar-button.navbar-notification.me-1
          = render partial: 'partial/navbar_notifications'
        %button.navbar-menu.navbar-button.me-1
          = react_component("NavbarAvatarContainer", props: {})
          .navbar-menu-popup
            = link_to user_path(current_user.id), class: "navbar-menu-popup-item" do
              .navbar-menu-popup-image
                = svg "user_icon" 
              .navbar-menu-popup-description
                Profile
            = link_to new_publication_path, class: 'navbar-menu-popup-item', remote: true do
              .navbar-menu-popup-image
                = svg "add_publication"
              .navbar-menu-popup-description
                Add a publication
            = link_to edit_user_path(current_user.id), class: "navbar-menu-popup-item border-bottom" do
              .navbar-menu-popup-image
                = svg "user_settings_icon"
              .navbar-menu-popup-description
                Prefences
            = link_to destroy_user_session_url, method: :delete, class: "navbar-menu-popup-item" do
              .navbar-menu-popup-description
                Sign out
    - else 
      = link_to new_user_session_path, class: "btn btn-primary" do 
        Sign in 
      = link_to new_user_registration_path do
        Sign up
            
