.navbar-container
  .navbar-logo
    JDIgram
  .col
  .navbar-buttons-row
    - if user_signed_in?
      .navbar-navigation-buttons
        = link_to users_path, class: "navbar-button me-1" do
          = svg 'home_icon'
        .navbar-button.me-1
          = svg "message_icon"
        .navbar-button.me-1
          = svg "heart_icon"
        %button{class: "navbar-menu navbar-button me-1"}
          = svg "user_icon_glyph"
          .navbar-popup
            = link_to user_path(current_user.id), class: "navbar-popup-item" do
              .navbar-popup-image
                = svg "user_icon" 
              .navbar-popup-description
                Profile
            = link_to edit_user_path(current_user.id), class: "navbar-popup-item border-bottom" do
              .navbar-popup-image
                = svg "user_settings_icon"
              .navbar-popup-description
                Prefences
            = link_to destroy_user_session_url, method: :delete, class: "navbar-popup-item" do
              .navbar-popup-description
                Sign out
    - else 
      = link_to new_user_session_path, class: "btn btn-primary" do 
        Sign in 
      = link_to new_user_registration_path do
        Sign up
