.modal.fade{ id: "showPublicationModal", tabindex: -1, aria: { hidden: true } }
  .pub-show-close-container
    %button.button.pub-show-close{ data: { bs: { dismiss: "modal" } } }

  .modal-dialog.modal-lg
    .modal-content
      .modal-body.pub-show-body

        - if @previous_pub
          = link_to "/publications/#{@user.id}/get_user_publication/#{@previous_pub.id}", class: "pub-show-publication-previous", remote: true do
            .pub-show-left-arrow
          
        .pub-show-content
          .pub-show-photo-column
            .pub-show-photo
              - if @publication.photos.length > 0
                = render partial: "partial/photo_slider", locals: {publication: @publication}
              - else
                = svg "photo_icon_light"
          .pub-author-credentials
            .pub-show-avatar-container
              - if @user.avatar.attached?
                = image_tag @user.avatar, class: "pub-show-avatar"
              - else
                = svg "user_icon_glyph"
            .pub-show-author-login
              = @user.login  
          .pub-show-info       
            .pub-show-description-container
              .pub-show-avatar-container
                - if @user.avatar.attached?
                  = image_tag @user.avatar, class: "pub-show-avatar"
                - else
                  = svg "user_icon_glyph"
              .pub-show-description-block
                .pub-show-author-login
                  = @user.login 
                .pub-show-description
                  = @publication.description

            .pub-show-comments
              - @publication.comments.each do |comment|
                = render partial: "partial/comment", locals: {user: comment.user, comment: comment }

            .pub-show-actions-bar
              .publication-action-button{id: "like-pub-button" }
                - like = @publication.likes.find { |like| like.user_id == current_user.id }
                = render partial: 'partial/like_button', locals: { like: like, publication: @publication }

            = form_with url: comments_path, class: "pub-show-add-comment-row", method: :post, remote: true do |form|
              = form.hidden_field :pub_id, value: @publication.id
              = form.text_area :text, placeholder: "Write something!", class: "pub-show-add-comment-text"
              = form.submit "Send", class: "pub-show-submit"
        - if @next_pub
          = link_to "/publications/#{@user.id}/get_user_publication/#{@next_pub.id}", class: "pub-show-publication-next", remote: true do
            .pub-show-right-arrow
