.modal.fade{ id: "showPublicationModal", tabindex: -1, aria: { hidden: true } }
  .pub-show-close-container
    %button.button.pub-show-close{ data: { bs: { dismiss: "modal" } } }

  .modal-dialog.modal-lg
    .modal-content
      .modal-body.pub-show-body

        - if @previous_pub
          = link_to "/publications/#{@user.id}/get_user_publication/#{@previous_pub.id}", class: "pub-show-publication-previous", remote: true do
            .pub-show-left-arrow
          
        .pub-show-content
          .pub-show-photo-column
            .pub-show-photo
              - if @publication.photos.length < 2
                = image_tag @publication.photos.first, width: '100%'
              - else
                #carousel.carousel.slide{"data-bs-ride" => "carousel"}
                  %ol.carousel-indicators
                    %li.active{"data-bs-slide-to" => "0", "data-bs-target" => "#carousel"}
                    - (@publication.photos.length - 1).times do |i|
                      %li{"data-bs-slide-to" => i + 1, "data-bs-target" => "#carousel"}
                  .carousel-inner                      
                    .carousel-item.active
                      = image_tag @publication.photos.first, {class: "d-block w-100"}
                    - @publication.photos.drop(1).each do |photo|
                      .carousel-item
                        = image_tag photo, {class: "d-block w-100"}

                    %button.carousel-control-prev{"data-bs-target" => "#carousel", "data-bs-slide" => "prev"}
                      %span.carousel-control-prev-icon
                    %button.carousel-control-next{"data-bs-target" => "#carousel", "data-bs-slide" => "next"}
                      %span.carousel-control-next-icon

          .pub-author-credentials
            .pub-show-avatar-container
              - if @user.avatar.attached?
                = image_tag @user.avatar, class: "pub-show-avatar"
              - else
                = svg "user_icon_glyph"
            .pub-show-author-login
              = @user.login  
          .pub-show-info       
            .pub-show-description-container
              .pub-show-avatar-container
                - if @user.avatar.attached?
                  = image_tag @user.avatar, class: "pub-show-avatar"
                - else
                  = svg "user_icon_glyph"
              .pub-show-description-block
                .pub-show-author-login
                  = @user.login 
                .pub-show-description
                  = @publication.description

            .pub-show-comments
              - @publication.comments.each do |comment|
                .pub-show-comment-row
                  .pub-show-avatar-container
                    - if @user.avatar.attached?
                      = image_tag comment.user.avatar, class: "pub-show-avatar"
                    - else
                      = svg "user_icon_glyph"
                  .pub-show-description-block
                    .pub-show-author-login
                      = comment.user.login
                    .pub-show-description
                      = comment.text

            .pub-show-actions-bar
              = link_to "/publications/#{@publication.id}/like", class: "publication-action-button", id: "like_button", method: :post, remote: true do
                - if @publication.likes.find { |like| like.user_id == current_user.id }
                  = svg "heart_icon_filled"
                - else
                  = svg "heart_icon"

            = form_with url: "/publications/#{@publication.id}/add_comment", class: "pub-show-add-comment-row", method: :post, remote: true do |form|
              = form.text_area :text, placeholder: "Write something!", class: "pub-show-add-comment-text"
              = form.submit "Send", class: "pub-show-submit"
        - if @next_pub
          = link_to "/publications/#{@user.id}/get_user_publication/#{@next_pub.id}", class: "pub-show-publication-next", remote: true do
            .pub-show-right-arrow
