.container.chat-container
  - if @chat.starter.id == current_user.id
    - interlocutor = @chat.interlocutor
  - else 
    - interlocutor = @chat.starter
  .chat-header
    = link_to chats_path, class: "btn btn-light" do
      < Back
    = interlocutor.login
    = link_to user_path(interlocutor), class: "chat-avatar-container" do
      - if interlocutor.avatar.attached?
        = image_tag interlocutor.avatar, class: "chat-avatar"
      - else
        = svg "user_icon_glyph"
  .chat-messages-container
    - @chat.messages.each do |message|
      = render partial: 'partial/chat_message', locals: { message: message }
  .chat-message-form
    %textarea.chat-message-field
    %button.chat-message-submit{ chat_id: @chat.id }
      Send

