.devise-container
  %h1{class: "devise-title"} JDIgram
  = form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "devise-form"}) do |f|
    .field
      = f.email_field :email, autofocus: true, autocomplete: "email", class: "devise-input-field mb-2", placeholder: "Email"
    .field
      = f.password_field :password, autocomplete: "current-password", class: "devise-input-field mb-3", placeholder: "Password"
    .actions
      = f.submit "Log in", class: "devise-button-wide"

.devise-block
  %p{class: "text-center mt-3 mb-0"}
    Don't have an account yet? 
    = render "devise/shared/links"
