!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title JDIgram
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body{class: "bg-light"} 

    - if user_signed_in?
      %span  
        = link_to 'Выйти', destroy_user_session_path, :method => :delete
    - else 
      %span
        = link_to 'Войти', new_user_session_path
        = link_to 'Зарегистрироваться', new_user_registration_path
    = yield
